.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-image {
  max-width: 90%;
  max-height: 90vh;
  height: auto;
  width: auto;
}
